[submodule "Aria2/source"]
	path = Aria2/source
	url = https://github.com/aria2/aria2
[submodule "CiderPressII/source"]
	path = CiderPressII/source
	url = https://github.com/fadden/CiderPress2.git
[submodule "Tor/source"]
	path = Tor/source
	url = https://gitlab.torproject.org/tpo/core/tor.git
[submodule "Torrent FIle Editor/source"]
	path = Torrent File Editor/source
	url = https://github.com/torrent-file-editor/torrent-file-editor.git
